<%= form_with model: inventory, url: user_inventories_url, method: :post, local: true, scope: :inventory do |form| %>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>


  <div>
    <%= form.submit 'Add Inventory' %>
  </div>
<% end %>
