<p style="color: green"><%= notice %></p>
<div class="card-header container text-center">
  Recipes
  <%= link_to "Add recipe", new_recipe_path, class: 'btn btn-dark btn-sm' %>
</div>
<% @recipes.each do |recipe| %>
  <br>
  <div class="container card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 p-1">
      <%= link_to recipe_path(recipe.id), class: 'btn btn-warning p-2 mt-1' do %>
      <h1><%= recipe.name %></h1>
      <% end %>
      <% if can? :destroy, recipe %>
        <%= button_to "Delete", recipe, method: :delete, class:"btn btn-danger btn-sm" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.description.truncate(100) %></h5>
      </div>
    </div>
  </div>
</div>
<% end %>




