<div class="container">


  <%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <%= form_with model: @food, url: foods_path, method: :food, data: { turbo: false }, local: true do |f|  %>
    <%= f.text_field :name, :placeholder => 'Name' , class: 'form-control'%>
      <br>
    <%= f.text_field :measurement_unit, :placeholder => 'Measurement Unit', class: 'form-control'%>
      <br>
    <%= f.text_field :price, :placeholder => 'Price', class: 'form-control' %>
      <br>
      <button class='btn btn-outline-dark btn-sm' href='<% f.submit %>'>Submit
      </button>

        <%= link_to "Back to foods", foods_path, class: 'btn btn-outline-dark btn-sm'%>






  <% end %>


<% end %>

</div>