<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>
      <%= link_to "Show this food", food %>
    </p>
    <p><b>Name </b><%= food.name %></p>
    <p><b>Measurement Unit: </b></b><%= food.measurement_unit %></p>
    <p><b>Price: </b><%= food.price %></p>
  <% end %>
</div>

<%= link_to "New food", new_food_path %>
