<h3> General shopping list </h3>
<div class= "d-flex">
    <div>
        <p>Amount of food to buy: <%=@unlisted_foods.count %> </p>
        <p>Total Value of food needed: <%= @total %> </p>
    </div>
    <div>
        <p>Recipe : <%= @recipe.name %> </p>
        <p>Inventory: <%= @inventory.name %></p>
    </div>
</div>
<div>
<table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% @unlisted_foods.each do |food| %>
          <tr>
            <td><%= food[0] %></td>
            <td><%= food[1] %></td>
            <td><%= food[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>





